* {
    box-sizing: border-box;
}

body {
    font-family: 'Monserat', sans-serif;
    margin: 0;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;    
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    /*padding-left: 5px;*/
    list-style: none;
    margin: 0;
    padding: 0;
    /* color: #0e4f1f; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; */

}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

/* pseudo class */
.main-nav__item a:hover {
    color: white;
}

/* pseudo class */
.main-nav__item a:active {
    color: #0e4f1f;
    
}

/* group. one rule */
.main-nav__item a:active,
.main-nav__item a:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 5px solid white;
}

/* pseudo-element */
/*
.main-nav__item a::after {
    content: " (Link)";
    color: #ff1b68;
}
*/

/* pseudo-element */
/*
p::first-letter {
    color: #ff1b68;
}
*/

.main-nav__item a:hover, 
.main-nav__item a:active {    
    color: white;
    border-bottom: 5px solid white;
}

/* another class for li */
.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover, 
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;    
    padding: 32px;
    margin-top: 48px;
    width: 100%;
}

.main-footer ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-footer ul li {
    display: inline-block;
    margin: 0 16px;
}

.main-footer ul li a {
    color: white;
    text-decoration: none;
}

.main-footer ul li a:hover,
.main-footer ul li a:active {
    color: #0e4f1f;
}


.button {
    color: white;
    background: #0e4f1f;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}