
#product-overview {
    /* background-color: #ff1b68;
    padding: 10px 20px;
    width: 50%;
    height: 50%; /* refers to parent element. % of parent element */
    /* fixed height like 500px*/
    /* chain of height in all of the elements*/
    /* <html lang="eng" style="height: 100%;">*/

    box-sizing: border-box;

    /* shorthand property */
    /* border: 5px black solid; */

    /* separate properties */
    /* border-radius: 15px;
    border-color: black;
    border-width: 5px;
    margin: 20px;


    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;  */
    /* same */
    /* margin: 5px 10px; */
    background: url("database.jpg");
    width: 100%;
    height: 390px;
    padding: 10px;
}

/* margin between block is collapsing. One margin. Bigger margin wins */


.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    /* shadow right and bottom */ 
    /* right, botom, bluryness spread, rgb, transparenty level */ 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}


/* combinator. all elements with .plan__price class inside highlighted */
.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}



.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
   margin: 8px 0; 
    /*padding: 8px 0;*/
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858381;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: 0 auto; /* fill left and right automaticaly     */
}
